# Secrets / local config
browser-state.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE / macOS
.idea/
.DS_Store

# Playwright artifacts
videos/
tracing/
test-results/
*.html
*.json

# Allure generated data
allure-results/
allure-report/

# Pytest
.pytest_cache/